/* Write your code here */
.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}
.profile {
  text-align: center;
}
.main {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  text-align: center;
  padding: 20px;
}
